.article--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.article-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article--page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #DDD;
    box-shadow: 2px 2px 2px 2px #BBB;
    padding: 2rem;
    margin: 1rem 0;
    width: 50rem;
    z-index: 1;
}

.backdorp{
    z-index: 5;
    color: #000,
}

.box{
    background-color: #DDD;
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.theme--selector{
    top: 0;
    z-index: 2;

}

.switch--color{
    color: white;
}

.nav--buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.loading{
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f50057;
}